$orange: rgb(255, 94, 41);

.service-slider {
  margin-top: -10vh;

  .footer {
    background-color: $orange;
    color: white;
    height: max-content !important;
    padding-bottom: 2vw !important;
    font-size: 2vw !important;
    display: flex;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 925px) {
  .footer {
    height: max-content !important;
    font-size: 5vw !important;
    padding-bottom: 5vw !important;
  }
}