.landing-page-container {
  margin: 0;
  padding: 0;
  background: no-repeat url("../../assets/map.svg");
  background-position: 20vw 10vh;
  background-color: rgb(38, 40, 44);
  text-transform: uppercase;
  height: 110vh;
  width: 100%;

  .for-mobile {
    display: none;
  }

  // .for-desktop{
  //   display: block;
  // }
  header {
    position: relative;
    display: flex;
    margin-top: -10vh;

    img {
      width: 30vw;
      margin-top: 1vh;
      margin-left: 0vw;
      margin-bottom: -2vh;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      color: white;
      width: 100%;
      flex-direction: row-reverse;

      li {
        margin-top: 15px;
        margin-left: 5vw;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .ctc-btn {
      background-color: rgb(255, 94, 41);
      border-radius: 20px;
      padding: 10px;
      // margin-top: 30px;
      margin-right: -10px;
      width: 15vw;
    }
  }

  main {
    position: relative;
    margin-left: 4%;
    margin-top: 0%;

    .main-text {
      text-align: start;
      font-size: 50px;
      color: white;
      position: relative;
      margin-top: 2%;

      span {
        color: rgb(255, 94, 41);
      }
    }

    .ctc-btn-middle {
      background-color: #737375;
      color: white;
      border-radius: 20px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 40px;
      width: fit-content;
      font-size: 25px;
      cursor: pointer;

      span {
        color: rgb(255, 94, 41);
      }
    }
  }
}

// media query for mobile
@media screen and (max-width: 600px) {
  .landing-page-container {
    background-position: 0vw 0vh;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    .for-desktop {
      display: none;
    }

    .for-mobile {
      display: flex;
      height: 40vw;
      span {
        width: fit-content;
        img {
          width: 140%;
        }
      }

      ul {
        display: none;
      }
    }

    background-position: -5vw 20vh;
    background-size: 130vw;

    main{
      .main-text{
        font-size: 20px;
        padding: 30px;
      }
      .ctc-btn-middle{
        font-size: 15px;
        width: 51vw;
        margin-left: 7vw;
        margin-top: 0vh;
      }
    }
  }
}