$grey : rgb(38, 40, 44);
$orange : rgb(255, 94, 41);
$white : rgb(240, 248, 243);
$whitePure : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$background: rgb(38, 40, 44);
$background-for-btn: #737375;

.about-us-container {
    padding-top: 10px;
    background-color: $background;
    color: $white;
    font-weight: lighter !important;

    h1 {
        color: $orange;
    }

    .container {
        display: flex;
        padding: 4vh 5vw;
        font-size: 1.2rem;
        justify-content: space-between;

        .content {
            width: 50%;
            text-align: start;

            span {
                color: $orange;
            }
        }

        .image-container {
            width: 50%;
            padding: 10px;

            img {
                width: 90%;
                height: 85%;
            }
        }
    }
}

// media queries
@media screen and (max-width: 925px) {
    .about-us-container {
        background-color: $white;
        color: $black;
        margin-bottom: 5vh;
        padding-top: 5vw;
        p{
            font-size: 3vw;
            padding: 0 5vw;
            margin-bottom: 0;
        }
        span{
            color: $background !important;
        }
        .image-container {
            display: none;
        }

        .content {
            background: #ffffff;
            width: 100vw !important;
            font-size: 3vw !important;
            text-align: center !important;
            padding: 5vh 0;
        }

    }
}